.hide-overflow {
    overflow: hidden;
}

.loading-canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    color: whitesmoke;
}

.login input {
    margin: 10px 0;
}

.nav-tabs {
    cursor: pointer;
}

.tab-content {
    background-color: whitesmoke;
    padding: 5px 5px;
    border-color: #e7e7e7;
}

.tab-content legend {
    border-radius: 3px;
    background: #eee;
    padding: 7px 20px;
    border: 1px solid #e7e7e7;
}

.capitalize {
    text-transform: capitalize;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}


/* preload transition */

.loaded {
    -webkit-transform: translateX(-150%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-150%);
    /* IE 9 */
    transform: translateX(-150%);
    /* Firefox 16+, IE 10+, Opera */
    /*opacity: 0;*/
    -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.waiting {
    -webkit-transform: translateX(100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);
    /* IE 9 */
    transform: translateX(100%);
    /* Firefox 16+, IE 10+, Opera */
}

.finished {
    -webkit-transform: translateX(0);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);
    /* IE 9 */
    transform: translateX(0);
    /* Firefox 16+, IE 10+, Opera */
    -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.logo-text {
    color: whitesmoke;
    text-align: center;
    font-size: 160%;
}

.logo-image {
    width: 100%;
    text-align: center;
    margin-right: -30px;
}


/* vote.html */

.vote-wrap {
    max-width: 1270px;
    min-width: 770px;
    margin: auto;
}

.lunch-row {
    padding: 5px;
}

.lunch-option img,
.lunch-option {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.lunch-option {
    opacity: 0.5;
    background-color: white;
    float: left;
    position: relative;
    margin: 10px;
    width: 230px;
    height: 230px;
}

.selectable {
    opacity: 1;
}

.selectable:hover {
    transform: scale(1.1);
    opacity: 0.7;
    cursor: pointer;
}

.lunch-option.selected {
    border: 3px solid green;
}

.lockedout {
    box-shadow: inset 0px 0px 230px 230px #FF0000, 0px 0px 0px 0px #FF0000
}

.lockedoutimg {
    opacity: 0.4;
}

.lunch-description {
    position: absolute;
    text-align: center;
    color: white;
    padding: 7px;
    height: 30%;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.35);
}

.lunch-option span {
    padding-top: 1.5px;
    border: 2px solid white;
    font-size: 400%;
    color: green;
    position: absolute;
    top: 10px;
    right: 12px;
    background-color: white;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.35);
}

.lunch-option span::before {}

.lunch-description .title {
    text-shadow: 2px 3px 1px #000;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lunch-description .subtitle {
    background-color: rgba(0, 0, 0, .5);
}

.lunch-option img {
    width: 100%;
    height: 100%;
}


/* Spinner */

.spinner {
    font-size: 150%;
    text-align: center;
    margin: 20px;
}

.spinner>span {
    animation: spin .85s infinite linear;
    -webkit-animation: spin2 .85s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}