<div ng-if="emailVerified === false" class="vote-wrap text-center">
    <h2>Please verify your email</h2>
    <p style="font-weight: bold;">Your email has not yet been verified.</p>
    <p>Please check your email and click the verification link, then click continue and <strong>login again.</strong></p>
    <a ng-click="sendVerificationEmail()" style="cursor: pointer;">I did not get a verification email.</a>
    <br><br>
    <input class="btn btn-lg btn-primary" type="button" ng-click="continue()" value="Continue"></input>
</div>

<div ng-if="emailVerified === true" class="vote-wrap text-center">
    <h2>Time to vote!</h2>
    <h3>Select the option(s) that you would like to have for lunch:</h3>

    <div class="clearfix lunch-row">
        <div class="lunch-row clearfix">
            <div class="lunch-option" ng-class="{selectable:$index < lunchSourcesArr.length - 4 || lunchSource.value.LastOrdered == 0,selected:lunchSource.value.Votes[uid]}" ng-click="vote(lunchSource.key, lunchSource.value, $index < lunchSourcesArr.length - 4)" ng-repeat="lunchSource in lunchSourcesArr | orderBy:'value.LastOrdered'">
                <span ng-show="lunchSource.value.Votes[uid]" class="glyphicon glyphicon-ok-circle"></span>
                <img ng-src="{{lunchSource.value.Logo}}">
                <div class="lunch-description">
                    <h4 class="title">{{lunchSource.key}}</h4>
                    <div class="subtitle" ng-if="lunchSource.value.LastOrdered > 0">({{lunchSource.value.LastOrdered.substr(4,2)}}/{{lunchSource.value.LastOrdered.substr(6,2)}}/{{lunchSource.value.LastOrdered.substr(0,4)}})</div>
                    <div class="subtitle" ng-if="lunchSource.value.LastOrdered == 0">(Hasn't Won Yet)</div>
                </div>
            </div>
        </div>
    </div>
    <input class="btn btn-lg btn-primary" type="button" ng-click="submitVotes()" value="Submit Votes"></input>
</div>